.react-tel-input {
	.form-control {
		background: transparent !important;
		border: none !important;
		border-bottom: 1px solid #7f9b9a34 !important;
		width: 100% !important;
		border-radius: 0px !important;
	}
	.flag-dropdown {
		background: transparent !important;
		border: none !important;
	}

	.selected-flag {
		transition: all 0.3s;
	}
	.selected-flag:hover {
		background: transparent !important;
		transform: scale(1.1);
	}

	.country-list {
		background: #464d4d !important;
		backdrop-filter: blur(20px);
	}
}

.react-tel-input .flag-dropdown.open .selected-flag {
	background: #464d4dd5 !important;
	backdrop-filter: blur(20px);
}
